<%= form_with(model: m_icropost, local: true) do |form| %>
  <% if m_icropost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(m_icropost.errors.count, "error") %> prohibited this m_icropost from being saved:</h2>

      <ul>
      <% m_icropost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content, id: :m_icropost_content %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :m_icropost_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
